.content {
  padding: 0px 10px;
  padding-top: 20px;
}
.container {
  padding: 8px 10px;
}
.table {
  display: grid;
  grid-template-columns: 40% 40% 20%;
}

.table-header > div {
  padding: 0.5em 0;
  font-weight: bold;
}
.row > div {
  padding: 0.5em 0;
  border-top: #35b0ab 1px solid;
}
.row {
  display: contents;
}

.row:hover div {
  background-color: #35b0ab;
  cursor: pointer;
}

.job-search {
  padding-left: 5px !important;
  width: 60% !important;
  margin: 5px 0;
}
.addButton {
  float: left;
  margin-right: 10px !important;
}
