.grid {
  display: grid;
  grid-template-columns: 30% 68%;
  grid-column-gap: 2%;
}
.grid > div {
  padding: 5px;
}
.text-value {
  display: flex;
  align-items: flex-end;
}
.label {
  font-weight: bold;
}
