.grid {
  display: grid;
  grid-template-columns: 30% 68%;
  grid-column-gap: 2%;
}
.grid > div {
  padding: 5px;
}
.text-value {
  display: flex;
  align-items: flex-end;
}
.label {
  font-weight: bold;
}
.tag-input {
  width: 70% !important;
  padding-left: 5px !important;
}
.margin-15 {
  margin-top: 10px;
}
.tag-button {
  margin: 10px;
}
