.container {
  padding: 8px 10px;
}
.form-input {
  padding: 5px 0px;
}
.form-input > label {
  display: block;
  width: 100%;
  margin: 5px 0px;
  font-weight: bold;
}

.form-input > input {
  width: 100%;
  padding: 5px 0px;
}
.form-input > textarea {
  width: 100%;
}
