.candidate-table {
  display: grid;
  grid-template-columns: 60% 40%;
}

.candidate-table > div {
  overflow-wrap: break-word;
  padding: 0.5em;
}
.ct-header {
  font-weight: bold;
}

select {
  padding: 5px;
}
.search-input {
  width: 97% !important;
}
.tag-input {
  width: 78% !important;
}
.tag-button {
  margin: 10px 0;
  margin-left: 10px;
}
.margin-top-10 {
  margin-top: 10px;
}
