.collapsible {
  cursor: pointer;
  color: white;
  width: 90%;
  background-color: #226b80;
  padding: 5px 5px;
  margin: 5px 0px;
}

.arrow {
  float: right;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}
